* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #fef8f8; */
  font-family: "Roboto";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* navbar */
.navbar {
  background-color: #fef8f8;
  padding: 15px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
  /* animation-duration: 3s;
  animation-name: slide-in; */
}

/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -630px;
  font-size: 15px;
  gap: 40px;
  position: sticky;
}

/* media queries */

@media screen and (max-width: 1500px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #fef8f8;
    padding: 10px;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}
.Button {
  display: flex;
  align-items: center;
  background-color: #ee9591;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #f5f0f0;
  border-radius: 10px;
  box-shadow: rgb(209, 145, 145) 0px 7px 29px 0px;
}
.Button input {
  background-color: transparent;
  padding: 6px;
  border: 0;
  cursor: pointer;
  outline: none;
  color: white;
}
.logo {
  width: 170px;
  cursor: pointer;
}
/* @keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
} */
